{% import 'bootstrap/wtf.html' as wtf %}

{% macro show_comments(post, form) %}
    {% for comment in post.comments %}
        <div>
            <h5>@{{ comment.author.name | capitalize }}</h5>
            <p>{{ comment.body }}</p>
            <a href="{{ url_for('posts.like', post_id=post.uid, comment_id=comment.uid) }}">Like&nbsp;<span class="badge">{{ comment.likes | count }}</span></a>&nbsp;|
            <a href="#{{ comment.uid }}" data-toggle="collapse">Reply&nbsp;<span class="badge">{{ comment.replies | count }}</span></a>
            <div id="{{ comment.uid }}" class="collapse" style="margin-left: 16px; padding-left: 16px; border-left: 2px solid gray;">
                {% if comment.replies %}
                    {{ show_comments(comment, form) }}
                {% endif %}
                <form action="{{ url_for('posts.post_comment',post_id=post.uid, comment_id=comment.uid) }}" method="post">
                    {{ wtf.quick_form(form) }}
                </form>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endmacro %}
