{% extends 'base.html' %}

{% block page_title %}Posts{% endblock %}

{% macro post_li(post) %}
    <li><a href="{{ url_for('posts.show', post_id=post.uid) }}"><strong>{{ post.title }}</strong></a> - {{ post.created_at | date }} by @{{ post.author.username | capitalize }}</li>
{% endmacro %}

{% block page_content %}
    <div class="row">
        <div class="panel panel-default col-md-offset-1 col-md-7">
            <div class="panel-body">
                {% if not posts %}
                    <div class="alert alert-info">No posts found.</div>
                {% elif q %}
                    <p><strong>Search results for "{{ q }}":</strong></p>
                    {% for post in posts %}
                        <ul class="list-unstyled">
                            {{ post_li(post) }}
                        </ul>
                    {% endfor %}
                {% else %}
                    {% for post in posts %}
                        {% if loop.first %}
                            <p>{{ post.created_at | date }} by @{{ post.author.username | capitalize }}</p>
                            <h2><a href="{{ url_for('posts.show', post_id=post.uid) }}">{{ post.title }}</a></h2>
                            <p>{{ post.body }}</p>
                            <hr>
                            {% if posts | count is gt 1 %}
                                <h4>Older Posts</h4>
                            {% endif %}
                        {% elif loop.index0 is lt 4 %}
                            <ul class="list-unstyled">
                                {{ post_li(post) }}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <hr>
                <a href="{{ url_for('posts.create') }}" class="btn btn-primary">Create post</a>
            </div>
        </div>
        <div class="col-md-3">
            <h3>About</h3>
            <p>Summary of what this blog is all about</p>
            {% if archive %}
            <hr>
            <h3>Archive</h3>
                <ul class="list-unstyled">
                    {% for date in archive %}
                        <li><a href="{{ url_for('main.index', month=date.month) }}">{{ date | month }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <hr>
            <h3>Social Media</h3>
            <ul class="list-unstyled">
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
