{% extends 'base.html' %}

{% from '_comments.html' import show_comments %}

{% block page_title %}Show post{% endblock %}

{% block page_content %}
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>{{ post.created_at | date }} by @{{ post.author.username | capitalize }}</p>
                <h2>{{ post.title }}</h2>
                <p>{{ post.body }}</p>
                <a href="{{ url_for('posts.like', post_id=post.uid) }}"><span class="glyphicon glyphicon-heart-empty"></span>&nbsp;Like&nbsp;<span class="badge">{{ post.likes | count }}</span></a>&nbsp;|
                <a href="{{ url_for('posts.share', post_id=post.uid) }}"><span class="glyphicon glyphicon-share"></span>&nbsp;Share</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Comments&nbsp;<span class="badge">{{ post.comments | count }}</span></p>
            </div>
            <div class="panel-body">
                {{ show_comments(post, form) }}
                <form action="{{ url_for('posts.post_comment', post_id=post.uid) }}" method="post">
                    {{ form.csrf_token() }}
                    <div class="form-group col-md-8">
                        {{ form.body(class='form-control') }}
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-default">Post</button>
                    </div>
                </form>
            </div>
        </div>
        <h4>About The Author</h4>
        <div class="media">
            <div class="media-left">
              <a href="{{ url_for('posts.author_profile', username=post.author.username) }}">
                {% if post.author.profile_pic %}
                    {% set filename=post.author.profile_pic %}
                {% else %}
                    {% set filename='avatar.jpg' %}
                {% endif %}
                <img class="media-object" src="{{ url_for('auth.profile_picture', filename=filename) }}" alt="avatar" style="width: 64px; height: 64px;">
              </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="{{ url_for('posts.author_profile', username=post.author.username) }}">@{{ post.author.username | capitalize }}</a></h4>
                <p>{{ post.author.bio }}</p>
            </div>
        </div>
    </div>
{% endblock %}
