{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}
{% from '_helpers.html' import show_comments %}

{% block page_title %}Show post{% endblock %}

{% block page_content %}
    <div>
        <p>{{ post.created_at | date }}</p>
        <h4>{{ post.title }}</h4>
        <p>{{ post.body }}</p>
    </div>
    <div>
        <a href="{{ url_for('posts.like', post_id=post.uid) }}">Like&nbsp;<span class="badge">{{ post.likes | count }}</span></a>&nbsp;|
        <a href="{{ url_for('posts.share', uid=post.uid) }}">Share&nbsp;<span class="glyphicon glyphicon-share"></span></a>
    </div>
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Comments&nbsp;<span class="badge">{{ post.comments | count }}</span></p>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('posts.post_comment', uid=post.uid) }}" method="post">
                {{ wtf.quick_form(form) }}
            </form>
            {{ show_comments(post, form) }}
        </div>
    </div>
    <p>About the author: <a href="{{ url_for('users.show', uid=post.author.uid) }}">{{ post.author.name | capitalize }}</a></p>
{% endblock %}
