{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}
{% from '_helpers.html' import show_comments %}

{% block page_title %}Show post{% endblock %}

{% block page_content %}
    <div>
        <p>{{ post.created_at | date }}</p>
        <h4>{{ post.title }}</h4>
        <p>{{ post.body }}</p>
    </div>
    <div>
        <a href="{{ url_for('posts.like', post_id=post.uid) }}"><span class="glyphicon glyphicon-heart-empty"></span>&nbsp;Like&nbsp;<span class="badge">{{ post.likes | count }}</span></a>&nbsp;|
        <a href="{{ url_for('posts.share', post_id=post.uid) }}"><span class="glyphicon glyphicon-share"></span>&nbsp;Share</a>
    </div>
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Comments&nbsp;<span class="badge">{{ post.comments | count }}</span></p>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('posts.post_comment', post_id=post.uid) }}" method="post">
                <div class="row">
                    <div class="col-md-10 form-group required">
                        {{ form.body(class='form-control') }}
                    </div>
                    <div class="col-md-1">
                        {{ form.submit(class='btn btn-default') }}
                    </div>
                </div>
            </form>
            {{ show_comments(post, form) }}
        </div>
    </div>
    <p>About the author: <a href="{{ url_for('auth.show', user_id=post.author.uid) }}">@{{ post.author.name | capitalize }}</a></p>
{% endblock %}
